---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for entry in collections.all %}
{%- if entry.url %}
  <url>
    <loc>{{ site.url }}{{ entry.url }}</loc>
    <lastmod>{{ entry.date | date("yyyy-MM-dd") }}</lastmod>
  </url>
{%- endif %}
{%- endfor %}
</urlset>
